# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# Docker
.docker/

# Temporary Files
*.tmp
*.temp

# Data
data/CSVs/train.csv